# ----- Section for requests
[req]
default_bits		= 1024
default_md			= sha256
distinguished_name	= req_distinguished_name
string_mask			= nombstr
x509_extensions		= v3_ca

[ req_distinguished_name ]
O				= Organization name
O_default		= iMovies
OU				= Organizational unit

# Fields for employees
surname			= Family or surname
surname_max		= 64
givenName		= First or given name
givenName_max	= 64
emailAddress	= Email address
emailAddress_max= 64

# Fields for machines
commonName		= Common Name (eg, YOUR name)
commonName_max	= 64

# ----- Extensions for self signed certificate
[ v3_ca ]
# PKIX recommendation
subjectKeyIdentifier	= hash 
authorityKeyIdentifier	= keyid:always,issuer:always
basicConstraints = CA:true

# Key usage: this is typical for a CA certificate. However since it will
# prevent it being used as an test self-signed certificate it is best
# left out by default.
keyUsage = cRLSign, keyCertSign
