# ----- Section for the Certificate Authority's behavior
# Note that the certificate authority's behavior is customized
#   to sign employee certificates, therefore when signing machines
#   certificates it is necessary to override certain fields.
[ ca ]
default_ca = imovies_ca

[ imovies_ca ]
base_dir		= home/jsmith/sem3/Security Lab/working/CA
certificate		= ${base_dir}/CA/ca_cert.pem
private_key		= ${base_dir}/CA/private/ca_key.pem
database		= ${base_dir}/CA/index.txt
serial			= ${base_dir}/CA/serial

new_certs_dir	= ${base_dir}/CA/newcerts

default_days	= 365
default_md		= sha256
unique_subject	= no
preserve		= no
copy_extensions = none
x509_extensions	= emp_cert # For employees
policy			= emp_policy # For employees


# ----- Section for requests
[ req ]
default_bits		= 1024
default_md			= sha256
encrypt_key			= no
string_mask			= utf8only #nombstr
distinguished_name	= req_distinguished_name
x509_extensions		= v3_ca

[ req_distinguished_name ]
O				= Organization name
O_default		= iMovies
OU				= Organizational unit

# Fields for employees
surname			= Family or surname
surname_max		= 64
givenName		= First or given name
givenName_max	= 64
email			= Email address
email_max		= 64

# Fields for machines
commonName		= Common Name (eg, YOUR name)
commonName_max	= 64


# ----- Extensions for self signed certificate
[ v3_ca ]
# PKIX recommendation
subjectKeyIdentifier	= hash 
authorityKeyIdentifier	= keyid:always,issuer:always
basicConstraints		= CA:true, pathlen:0

# Key usage: this is typical for a CA certificate. However since it will
# prevent it being used as an test self-signed certificate it is best
# left out by default.
keyUsage = critical,cRLSign,keyCertSign


# ----- ISSUED extensions for the employee certificate
[ emp_cert ]
subjectKeyIdentifier	= hash
authorityKeyIdentifier	= keyid:always,issuer:always
basicConstraints		= CA:FALSE
keyUsage				= digitalSignature,nonRepudiation,keyAgreement #keyEncipherment?
extendedKeyUsage		= clientAuth,emailProtection
subjectAltName			= email:copy


# ----- The policy to be matched for employee certificates
[ emp_policy ]
O				= match
OU				= supplied
surname			= supplied
givenName		= supplied
emailAddress	= supplied
commonName		= supplied


# ----- ISSUED extensions for the various machines
[ backend_cert ]
subjectKeyIdentifier	= hash
authorityKeyIdentifier	= keyid:always,issuer:always
basicConstraints		= CA:FALSE
keyUsage				= digitalSignature,nonRepudiation,keyAgreement 
[ websrv_cert ]
subjectKeyIdentifier	= hash
authorityKeyIdentifier	= keyid:always,issuer:always
basicConstraints		= CA:FALSE
keyUsage				= digitalSignature,nonRepudiation,keyAgreement 
extendedKeyUsage		= serverAuth

# ----- The policy to be matched for machine certificates
[ srv_policy ]
O				= match
OU				= supplied
commonName		= supplied

# ----- Settings for the connection to the database
[ mysql ]
default_db = mysql_local

[ mysql_local ]
host			= 127.0.0.1
port 			= 3306
user			= ca
database		= imovies
ca_certificate	= ../CA/ca_cert.pem
certificate		= ../CA/ca_nr_cert.pem
private_key		= ../CA/private/ca_nr_key.pem